<div class="home-page">
    <div class="row">
        <div class="col-sm-4">
            <img src="img/gumball-machine.jpg" />
        </div>
        <div class="col-sm-8">

            <!--Candy List-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Want Some Candy?</h3>
                </div>
                <div class="panel-body">
                    <ul data-bind="foreach:candyChoices">
                        <li>
                            <b data-bind="html:name"></b> |
                            $<span data-bind="html:price"></span> |
                            <a data-bind="click:$parent.addCandyToCart">Add To Cart</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!--Shoppng Cart-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Your Shopping Cart</h3>
                </div>
                <div class="panel-body">
                    <ul data-bind="foreach:cart">
                        <li>
                            <b data-bind="html:name"></b> |
                            $<span data-bind="html:price"></span> |
                            <a data-bind="click:$parent.removeCandyFromCart">Remove From Cart</a>
                        </li>                        
                    </ul>
                    <label>Current Total : </label><b data-bind="html:cartTotal"></b>
                    <button data-bind="click:checkout" class="btn btn-primary pull-right">Checkout</button>
                </div>
            </div>

        </div>
    </div>
</div>


<div data-bind="template:{name : 'modal-template', data : modalData}"></div>

<script id="checkout-template" type="text/html">
    <h1>Thank You for Buying My Candy</h1>
    <ul data-bind="foreach:cart">
        <li>
            <b data-bind="html:name"></b> |
            $<span data-bind="html:price"></span>
        </li>
    </ul>
    <label>Current Total : </label>
    <b data-bind="html:cartTotal"></b>
</script>
