<div class="home-page">
    <div class="row">
        <div class="col-sm-4">
            <img src="img/gumball-machine.jpg" />
        </div>
        <div class="col-sm-8">

            <!--Candy List-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Want Some Candy?</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>Candy Name | $0.50 | <a href="#">Add To Cart</a></li>
                        <li>Candy Name | $0.50 | <a href="#">Add To Cart</a></li>
                        <li>Candy Name | $0.50 | <a href="#">Add To Cart</a></li>
                        <li>Candy Name | $0.50 | <a href="#">Add To Cart</a></li>
                        <li>Candy Name | $0.50 | <a href="#">Add To Cart</a></li>
                        <li>Candy Name | $0.50 | <a href="#">Add To Cart</a></li>
                    </ul>
                </div>
            </div>

            <!--Shoppng Cart-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Your Shopping Cart</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>Candy Name | $0.50 | <a href="#">Remove From Cart</a></li>
                        <li>Candy Name | $0.50 | <a href="#">Remove From Cart</a></li>
                        <li>Candy Name | $0.50 | <a href="#">Remove From Cart</a></li>
                        <li>Candy Name | $0.50 | <a href="#">Remove From Cart</a></li>
                        <li>Candy Name | $0.50 | <a href="#">Remove From Cart</a></li>
                    </ul>
                    <button class="btn btn-primary pull-right">Checkout</button>
                </div>
            </div>

        </div>
    </div>
</div>

